
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color:#DDDCC5;
  color: #1D2326;
  max-width: 960px;
  margin: auto;
}

h1, h2, h3, th {
  font-family: 'Montserrat', sans-serif;
}

h1{
  margin-top: auto;
  font-size: 2em
}

h2 {
  margin-left: 20%;
}

h3 {
  margin-left: 17%;
}

header {
  background-color: #1D2326;
  color: #DDDCC5;
  padding: 10px;
  text-align: center;
  width: 930px;
  margin: auto;
  position: fixed;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table {
  width: 75%;
  margin: 0;
  position: absolute;
  top: 125px;
}

aside {
  width: 20%;
  position: relative;
  float: right;
  top: 150px;
}

.main-table {
  background-color: #958976;
  border: 3px outset #1D2326;
  border-collapse: collapse;
  font-size: .6em;
}

.main-table th {
  border: 3px outset #1D2326;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
}

.main-table td {
  border: 3px outset #1D2326;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
}

.main-table td:hover {
  background-color: #611427;
  color: #DDDCC5;
  font-size: 2.5em;
  width: 50px;
}

input {
  background-color: #E2F0D6;
  border-radius: 5px;
  margin:2px 10px;
}

input:hover {
  background-color: lightgrey;
}

button {
  background-color: #958976;
  color: #1D2326;
  border-radius: 5px;
  width: 80px;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background-color: #611427;
  color: #DDDCC5;
}

button:active {
  background-color: #1D2326;
}

footer p {
  font-family: 'Kaushan Script', cursive;
}

tr:nth-child(odd) {
  background-color: #DDDCC5;
}

.table-head tr {
  background-color: #611427;
  color: #DDDCC5;
}

footer {
  clear:both;
  position: absolute;
  bottom: 0;
}



@media screen and (max-width:865px) {

  header form input {
    display:inline-block;
  }
  header{
    position: relative;
    width: auto;
  }
  .table {
    position: relative;
    clear:both;
  }
  main form {
    width: 45%;
    position: absolute;
  }
  main form label, main form input {
    display: block;
  }
  main form button {
    display:block;
    margin: auto;
  }
  aside {
    position: relative;
    float: right;
    width: 45%
  }
  footer{
    display:none;
  }
}
